@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: "quantum";
    src: url(../fontes/Quantum.otf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex";
}

/*-------Cores-------*/
:root{
    --blue: #14C5EC;
    --light-blue: #BBEEF9;
    --dark-blue: #095f72;
    --white: #EDFBFE;
    --gray: #E6E6E6;
}

body{   
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    color: #1e1e1e;
    height: 100vh;
    width: 100%;
    background-color: var(--white);          
}

/*-------Menu-------*/
.menu{
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    font-family: "Roboto Flex";
    padding: 20px;
}

.menu li{
    display: inline-block;
}

.menu a{
    color: var(--white);
    padding: 10px 17px;
    text-decoration: none;
    font-size: 17px;
}

/*-------Botão_de_ajude-------*/
.menu button{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 15px;
    cursor: pointer;
}

/*-------Menu_Hamburguer-------*/
.menu .botao{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--dark-blue);
    display: none;
}

/*-------Logo-------*/
.menu img{
    width: 76px;
    height: 70px;
    margin-left: 30px;
}

/*-------Banner-------*/
.banner{
    width: 100%;
    height: 60vh;
}

#parallax{
    background-image: url(../imagens/Banner_de_cachorro02.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*-------Ajudar-------*/
.ajudar{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ajuda{
    width: 30%;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--blue);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ajuda img{
    width: 100%;
    height: 70vh;
    margin-bottom: 13px;
    background-color: var(--gray);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ajuda h3{
    color: var(--white);
    font-size: 24px;
    margin-bottom: 10px;
}

.ajuda button{
    width: 35%;
    height: 5vh;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--dark-blue);
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 13px;
}

.ajuda a{
    text-decoration: none;
    color: var(--white);
}

/*-------Voluntário-------*/
.voluntario{
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    font-family: "Roboto Flex";
}

.voluntario h2{
    color: var(--white);
    font-size: 40px;
    margin-bottom: 30px;
}

/*-------Textos-------*/
.textos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.texto{
    width: 30%;
    height: 30vh;
}

.texto p{
    font-size: 23px;
    color: var(--white);
    text-align: justify;
    font-weight: 200;
}

/*-------Patrocinadores-------*/
.patrocinadores{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.patrocinadores h1{
    font-size: 40px;
    margin-bottom: 50px;
}

/*-------Imagens-------*/
.imagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 30px;
}

.imagem img{
    width: 100px;
    height: 100px;
}

/*-------Banner2-------*/
.banner2{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 150px;
    font-family: "Zen Kaku Gothic New";
    font-weight: 400;
    gap: 10px;
}

/*-------Fonte-------*/
#font{
    font-family: 'quantum';
}

/*-------Responsividade-------*/
@media screen and (max-width: 992px) {
    .menu .botao{
        display: block;
    }

    .menu ul{
        top: 14%;
        right: 0%;
        width: 40%;
        position: absolute;
        background-color: var(--blue);
        padding: 10px;
    }
    
    .menu li{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu img{
        margin-left: 0px;
    }

    .ajuda{
        width: 39%;
        height: 60vh;
    }

    .ajuda img{
        width: 100%;
        height: 50vh;
    }

    .ajuda h3{
        font-size: 18px;
    }

    .ajuda button{
        width: 200px;
    }

    .texto{
        width: 40%;
    }

    .texto p{
        font-size: 20px;
    }
    
}
@media screen and (max-width: 768px) {
    .menu .botao{
        display: block;
    }

    .menu ul{
        top: 14%;
        right: 0%;
        width: 50%;
        position: absolute;
        background-color: var(--blue);
        padding: 10px;
    }
    
    .menu li{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu img{
        margin-left: 0px;
    }

    .banner{
        height: 40vh;
    }

    .ajudar{
        gap: 10px;
    }

    .ajuda{
        width: 90%;
        height: 45vh;
    }

    .ajuda img{
        width: 100%;
        height: 31vh;
    }

    .ajuda h3{
        font-size: 17px;
    }

    .ajuda button{
        width: 45%;
        height: 7vh;
        font-size: 15px;
    }

    .voluntario h2{
        font-size: 25px;
    }

    .textos{
        gap: 20px;
    }

    .texto{
        width: 45%;
    }

    .texto p{
        font-size: 17px;
    }

    .patrocinadores h1{
        font-size: 30px;
    }

    .imagens{
        gap: 10px;
    }

    .imagem img{
        width: 60px;
        height: 60px;
    }

    .banner2{
        font-size: 12px;
    }
}